Language: Cpp
BasedOnStyle: Google
AlignEscapedNewlinesLeft: false
AlignOperands: false
ColumnLimit: 100
AlwaysBreakTemplateDeclarations: false
DerivePointerAlignment: false
IndentFunctionDeclarationAfterType: false
MaxEmptyLinesToKeep: 1
SortIncludes: false
IndentWidth: 4
TabWidth: 4
UseTab: Never
AlignConsecutiveAssignments: true